@page "/edit/{Id:int}"

@using ToDoListApi.Models;
@using Microsoft.Identity.Abstractions;


@inject NavigationManager Navigation
@inject IDownstreamApi _downstreamApi

<h3>Edit Task</h3>

<CommonForm ButtonText="Edit Task" ToDoItem="@toDo" OnValidSubmit="@EditTask" />

@code {
    [Parameter] public int Id { get; set; }
    ToDo toDo = new ToDo();
    const string ServiceName = "ToDoApi";

    protected async override Task OnParametersSetAsync()
    {
        toDo = (await _downstreamApi.GetForUserAsync<ToDo>(
            ServiceName,
            options => options.RelativePath = $"api/todo/{Id}"))!;
    }
    protected async Task EditTask()
    {
        await _downstreamApi.PatchForUserAsync<ToDo, ToDo>(
            ServiceName,
            toDo,
            options => options.RelativePath = $"api/todo/{Id}");

        Navigation.NavigateTo("todolist");
    }
}