@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        Secure an ASP.NET Core Web API with the Microsoft identity platform using Azure Active Directory with CIAM!
    </h1>
    <p>
        This sample shows how to secure a Web API built with ASP.NET Core using the Microsoft identity platform. The
        client
        uses OpenID Connect to sign in users. It leverages the ASP.NET Core OpenID Connect middleware
        and Microsoft.Identity.Web.
    </p>
</div>
